/** 公交列表 **/
.bus-li > a {
	padding-right : 40px;
	background : #99CC33;
	position : relative;
	
	display : -webkit-box;
	display : box;
	color : #fff;
	margin-bottom :3px;
}

.number {
	display : block;
	width : 60px;
	text-align : center;
	line-height : 48px;
	/* outline : 1px solid red; */
}
.info {
	display : block;
	line-height : 20px;
	font-size : 12px;
	padding : 4px 0;
	color : #eee;
	/* outline : 1px solid blue; */
}
.info span{
	display : block;
	font-weight : bold;
	color : #fff;
}

#tips {
	margin : 0 15px 10px;
	font : bold 12px/20px "微软雅黑",arial;
	color: #aaa;
}