/* 整合注意 */
h1 {					/**/
	margin : 0 15px 10px;
	font-weight : bold;
	line-height : 35px;
}
#page{				/**/
	background-color : rgb(250,250,250);
}

/* 全局重置 */
.rarr::before {
	border-top-color : #999;
	border-right-color : #999;
	top : 10px;
}

#author,
#content {
	background-color : #fff;
	border : 1px solid #999;
	display : block;
	border-radius : 3px;
	margin : 0 15px;
}

#author {
	margin-bottom : 10px;
	padding : 0 10px;
	line-height : 30px;
}

#author::after {
	border:;
}

#content li {
	border-bottom : 1px solid #999;
	line-height : 30px;
	padding : 0 10px;
	display:-webkit-box;
	display:box;
	font : 13px/30px "微软雅黑",arial;
}

#content .span1{
	width : 50%;
}

#content li:last-child{
	border-bottom : none;
}

#content span{
	color : #555;
}

#content .detail{
	line-height : 20px;
	font-size : 14px;
	padding-bottom : 5px;
}

#content i {
	color : #fff;
	padding : 0 5px;
	float : left;
	line-height : 20px;
	margin : 5px 0 5px 5px;
	font-style : normal;
}
#content i ::first-child{
	margin-left : 0;
}

.social,
.myschool,
.otherschool,
.type1,
.type2,
.type3 {
	position : relative;
}
.social::after,
.myschool::after,
.otherschool::after,
.type1::after,
.type2::after,
.type3::after {
	position : absolute;
	top : 0;
	right : 0;
	width : 29px;
	line-height : 29px;
	border-radius : 50%;
	font-size : 12px;
	text-align : center;
	-webkit-transform : rotate(20deg);
}
.type3::after,
.social::after{
	content : "社招";
	border : 3px solid #CC3333;
	color : #CC3333;
}
.type1::after,
.myschool::after {
	content : "本校";
	border : 3px solid #66CC00;
	color : #66CC00;
}
.type2::after,
.otherschool::after {
	content : "外校";
	border : 3px solid #FF9900;
	color : #FF9900;
	
}
.type1::after {
	content : "学术";
}
.type2::after{
	content : "文体";
}
.type3::after{
	content : "实践";
}