/** 课表展示 **/
#timetable {
	width : 100%;
	max-width : 1024px;
	margin : 0 auto 10px;
}

#timetable tbody th:first-child {
	width : 40px;
	height : 75px;
	border-right : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
	font-size : 12px;
	text-align : center;
}

#timetable thead th{
	height : 30px;
	text-align : center;
	border-top : 2px solid #ddd;
	border-bottom : 2px solid #ddd;
	width : 19%;
	font-weight : bold;
}
#timetable thead th:first-child{
	width : 40px;
	border-right : 1px solid #ddd;
}

#timetable td {
	border-right : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
	font-size : 12px;
	text-align : center;
}

#timetable tr:last-child th,
#timetable tr:last-child td {
	border-bottom-width : 2px;
}

#timetable tr td:last-child  {
	border-right-width : 0;
}

.cur-day {
	color : #fff;
	background-color : rgb(170,215,255);
}
.cur-course {
	color : #fff;
	background-color : rgb(255,170,215);
}

#reset {
	max-width : 1024px;
	margin : 0 auto 10px;
	position : relative;
	text-align : right;
	padding-right : 1em;
	height : 30px;
	line-height : 30px;
}

#reset a{
	display : block;
	width : 120px;
	text-align : center;
	background : #33CC33;
	color : #fff;
	font-weight : bold;
	position : absolute;
	top : 0;
	left : 0;
}